
@{
    ViewData["Title"] = "Контакты";
}

<h1>Контакты</h1>

<div class="main-article">
    <p>Нехлебов И.И. +375297653351</p>
    <div>
        <p>Схема проезда:</p>
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab3a075722aad8fe80154b540205025bb9cf7b6ac5cf15671111cfe04a55ffbc5&amp;source=constructor" width="1111" height="720" frameborder="0"></iframe>
    </div>
</div>

