
@{
    ViewData["Title"] = "Доставка";
}

<h1>Доставка</h1>
<div class="main static">
    <h3>
        Доставка автозапчастей по Минску.<br>
    </h3>
    <p>
        Доставка производится день в день либо на следующий день после подтверждения заказа с 18.30 до 22.00.<br>
    </p>
    <p >
        <strong><span>Стоимость доставки:</span></strong>
    </p>
    <ul>
        <li>
            при сумме заказа свыше 250 рублей – бесплатно.
        </li>
        <li>
            при сумме заказа до 250 рублей платно – 7 рублей.<br>
        </li>
    </ul>
    <h3>
        <br>
        Доставка РБ.<br>
    </h3>
    <p >
        <strong><span>Стоимость доставки:</span></strong>
    </p>
    <ul>
        <li>
            5-10 рублей (в населенные пункты согласно <a title="Список населенных пунктов" href="http://avtostandart.by/page/list-settlements/" target="_blank">списку</a>)
        </li>
    </ul>
    <p >
        <span style="color:#808080;">*возможна доставка в населенные пункты, которых нет в списке. Стоимость и срок доставки уточняйте у менеджера</span>
    </p>
    <h3>
        <br>
        Получить заказ возможно самостоятельно в пункте выдачи<br>
    </h3>
    <ul>
        <li>
            г. Минск, ул. Корженевского д.16, 1 этаж
        </li>
    </ul>
    <p >
        день в день либо на следующий день после подтверждения заказа
    </p>
    <p>
        <span>*после получения уведомления о формировании заказа в пункте выдачи (производится посредством отправки смс сообщения).</span><br>
        <br>
    </p>
    <p>
        <strong><span>Обращаем Ваше внимание:</span></strong>
    </p>
    <ul>
        <li>
            время для проверки товаров и проведения расчетов при доставке – не более 15 минут;
        </li>
        <li>
            при получении товара проверьте, соответствует ли он заказу;
        </li>
        <li>
            в присутствии курьера проверьте товар на отсутствие внешних дефектов (после отъезда курьера претензии по внешнему виду товара и комплектности не принимаются);
        </li>
        <li>
            курьер не владеет техническими знаниями для проведения консультаций, поэтому все интересующие Вас вопросы задавайте, пожалуйста, менеджерам при заказе товара;
        </li>
        <li>
            при доставке товара курьер обязан выдать кассовый чек на весь передаваемый товар.
        </li>
    </ul>
</div>
