
@{
    ViewData["Title"] = "Гарантия и возврат";
}

<h1>Гарантия и возврат</h1>
<div class="main-article">
    <h3>Возврат товаров.</h3>
    <ul>
        <li>
            <p><strong>
                В течение 14 календарных дней Вы можете вернуть или обменять приобретенный товар.
                Требования к возвращаемому товару:
            </strong></p>
            <ol>
                <li>со дня приобретения прошло менее 14 календарных дней;</li>
                <li>неповрежденная упаковка (в том числе отсутствуют следы масляных пятен и т.п.), читаемый штрих-код на упаковке либо на самой детали;</li>
                <li>на детали отсутствуют следы установки.</li>
            </ol>
        </li>
    </ul>
    <h3>Гарантия на автозапчасти.</h3>
    <ul>
        <li>
            <p>Гарантийный срок на реализуемый товар 12 месяцев либо 20 000 километров пробега.</p>
            <p>Гарантийный срок исчисляется со дня передачи товара потребителю (покупателю).</p>
        </li>
        <li>
            <p><strong>Базовое требование к автозапчасти, возвращаемой по гарантии:</strong></p>
            <p>установка запчасти на СТО, имеющем сертификат на право проведения работ по установке данной детали.</p>
        </li>
        <li>
            <p><strong>Документы, предоставляемые в случае возврата товара в результате наступления гарантийного случая:</strong></p>
            <ol>
                <li>
                    <p>заказ-наряд сервиса, где производилась установка детали на автомобиль;</p>
                </li>
                <li>
                    <p>копию лицензии СТО;</p>
                </li>
                <li>
                    <p>копию сертификата (разрешения) СТО на проведения работ по установке данной запчасти на автомобиль;</p>
                </li>
                <li>
                    <p>справку (заключение) СТО о неработоспособности детали с описанием дефекта и возможных причинах его появления;</p>
                </li>
            </ol>
        </li>
    </ul>
    <h3>Гарантия на аккумуляторы.</h3>
    <ul>
        <li>
            <p>Гарантийный срок начинается со дня продажи Покупателю. Гарантия распространяется  на производственные дефекты (короткое замыкание в аккумуляторе и обрыв цепи батареи).</p>
        </li>
        <li>
            <p>
                Гарантия не распространяется  на дефекты, вызванные неправильной эксплуатацией. Если АКБ эксплуатировалась правильно и вовремя производилось обслуживание, 
                а отказ произошел по вине завода-производителя (брак производства), АКБ заменят на новую.
            </p>
        </li>
    </ul>
    <h3>Гарантия на детали кузова.</h3>
    <ul>
        <li>
            <p><strong>Условия гарантии на автозапчасти.</strong></p>
            <p>
                Гарантийный срок на детали (части) кузова для автомобилей, автомобильную оптику, составляет 12 месяцев с даты продажи при условии соблюдения требований хранения, 
                установки, использования, предусмотренных нормативными документами, техническими характеристиками и настоящим положением. Гарантия распространяется на скрытые заводские дефекты.
            </p>
        </li>
        <li>
            <p><strong>Гарантийные обязательства на реализованные детали (части) кузова для автомобилей, автомобильную оптику не распространяются  в следующих случаях:</strong></p>
            <ol>
                <li>
                    <p>
                        повреждений, полученных в результате дорожно-транспортных происшествий, пренебрежения требованиям эксплуатации, использования автомобиля не
                        по назначению, неграмотной установки детали (несоблюдение технологических и технических требований Производителя) либо любое другое механическое
                        повреждение, а также использования автомобиля в необычных условиях, таких как ралли, гонки и др.;
                    </p>
                </li>
                <li>
                    <p>
                        повреждений, вызванных  внешними воздействиями, например, такими как: механическое воздействие камней, песка, град, атмосферные явления, воздействие антиобледенительных
                        дорожных смесей, камни, пожары и несчастные случаи, связанные с деятельностью человека, небрежность, акты вандализма или стихийные бедствия;
                    </p>
                </li>
                <li>
                    <p>возникновения коррозии, ржавчины, вызванное некачественной (с нарушением технологического процесса) подготовкой к покраске детали (части) кузова;</p>
                </li>
                <li>
                    <p>механических повреждений кузовных деталей, отделки, стеклянных и хромированных частей, вызванных нормальным износом или любым внешним воздействием;</p>
                </li>
                <li>
                    <p>установки детали покупателем (потребителем) самостоятельно или на СТО, не имеющей сертификата на проведение данного вида работ.</p>
                </li>
            </ol>
        </li>
        <li>
            <p><strong>Курьеру в случае доставки.</strong></p>
            <p>Заказ возможно оплатить наличными курьеру. В этом случае выдаются кассовый и товарный чеки*.</p>
        </li>
    </ul>
    <h3>Компенсация за возвращаемый товар.</h3>
    <ul>
        <li>
            <p><strong>В случае возврата товара возможна:</strong></p>
            <ol>
                <li>
                    <p>замена возвращаемого товара (при его наличии) на аналогичный товар надлежащего качества;</p>
                </li>
                <li>
                    <p>возврат денежных средств, уплаченных за товар, в течение пяти рабочих дней со дня возврата товара.</p>
                </li>
            </ol>
        </li>
    </ul>
</div>

