
@{
    ViewData["Title"] = "Оплата";
}

<h1>Оплата</h1>

<div class="main-article">
    <h3>Наличными</h3>
    <ul>
        <li>
            <p><strong>В пункте выдачи.</strong></p>
            <p>Заказ возможно оплатить наличными при его получении в пункте выдачи. В этом случае выдаются кассовый и товарный чеки*.</p>
        </li>
        <li>
            <p><strong>В кассе банка, платежных киосках (Cash-In)</strong></p>
            <p>Заказ можно оплатить через систему «Расчет» (АИС ЕРИП)</p>
        </li>
        <li>
            <p><strong>Курьеру в случае доставки.</strong></p>
            <p>Заказ возможно оплатить наличными курьеру. В этом случае выдаются кассовый и товарный чеки*.</p>
        </li>
    </ul>
    <h3>Пластиковыми картами</h3>
    <ul>
        <li>
            <p><strong>В пункте выдачи.</strong></p>
            <ol>
                <li>
                    <p>Заказ возможно оплатить пластиковыми картами при его получении в пункте выдачи.</p>
                </li>
                <li>
                    <p>принимаем к оплате карты: VISA, MasterCard и Белкарт.</p>
                </li>
                <li>
                    <p>в этом случае выдаются кассовый и товарный чеки.</p>
                </li>
            </ol>
        </li>
        <li>
            <p><strong>В кассе банка, банкомате, инфокиоске, интернет-банке.</strong></p>
            <p>Заказ можно оплатить через систему «Расчет» (АИС ЕРИП)</p>
        </li>
        <li>
            <p><strong>Курьеру в случае доставки.</strong></p>
            <p>Заказ возможно оплатить пластиковой картой курьеру. В этом случае выдаются кассовый и товарный чеки*.</p>
        </li>
        <li>
            <p><strong>Система ЕРИП</strong></p>
            <ol>
                <li>
                    <p>электронными деньгами (iPay, Webmoney [WMB], Easypay, belqi);</p>
                </li>
                <li>
                    <p>платежной карточкой (интернет-банк, мобильный-банк, банкомат, инфокиоск, касса банка и Белпочты*);</p>
                </li>
                <li>
                    <p>наличными (устройство cash-in, касса банка и Белпочты*).</p>
                </li>
            </ol>
            <p><em>*если Вы осуществляете платеж в кассе банка, пожалуйста, сообщите кассиру о необходимости проведения оплаты через систему «Расчет» (ЕРИП).</em></p>
        </li>
    </ul>
</div>